@import "../../colors.scss";

.todolist {
    &__title {
        color: $text;
        font-size: 3rem;
        text-align: center;
    }
    &__container {
        max-width: 50rem;
        margin: auto;
        margin-top: 2rem;
    }
}